/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0}
ul,li,ol{list-style:none;}

/* ALL TEH THINGZ */
.clr{clear:both;}

/* DEFAULT */
body{background:#e1e1e1;}
.mtWrapper{margin:60px auto;width:960px;padding:auto;}
.mtStyle{border:1px solid #b0b0b0;
	-moz-box-shadow:0 1px 1px 1px #bbb;
	-webkit-box-shadow:0 1px 1px #bbb;
	-o-box-shadow:0 1px 1px #bbb;
	box-shadow:0 1px 1px #bbb;
}

/* HEADER */
#mtHeader{background:url('../images/dotted.png') repeat-x left bottom;padding:5px 0 8px;margin-bottom:15px;height:45px;}
#mtHeader .mtLogo{float:left;}
#mtHeader .mtMenuNav{float:right;}
#mtHeader .mtMenuNav li{display:inline;float:left;margin:0 5px;}
#mtHeader .mtMenuNav li a{background:#444;height:45px;width:45px;display:block;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	-o-border-radius:50px;
	border-radius:50px;
}
#mtHeader .mtMenuNav li a:hover{background:#ffab18;}

/* POST / CONTENTS */
#mtPost{width:690px;float:left;}
#mtPost .mtReWrap{float:left;display:inline;padding-right:15px;}
#mtPost .mtContainer{width:328px;background:#fff;border-top:0;border-bottom:0;}
#mtPost .mtRegular.mtContainer h3{background:url('../images/post-title.jpg') repeat-x 0 0;height:42px;margin:0 0 5px;padding:0 10px;
	-moz-box-shadow:0 1px 1px #ececec;
	-webkit-box-shadow:0 1px 1px #ececec;
	-o-box-shadow:0 1px 1px #ececec;
	box-shadow:0 1px 1px #ececec;
}
#mtPost .mtContainer p{padding:3px 10px;}
#mtPost p img,#mtPost a img{width:308px;height:auto;border-bottom:1px solid #fff;}
#mtPost .mtContainer p a img:hover{background:url('../images/resize.png') no-repeat;}
#mtPost .mtContainer .mtPost-foot{float:right;left:-50%;text-align:left;position:relative;}
#mtPost .mtContainer blockquote,#mtPost .mtContainer code{display:block;background:#fcfcfc;border-left:3px solid #ddd;padding:5px 7px;margin:3px 10px;}
#mtPost .mtContainer .mtPost-foot ul{left:50%;position:relative;}
#mtPost .mtContainer .mtPost-foot li{display:inline;float:left;padding:0 3px;}
#mtPost .mtContainer .mtPost-foot li a.mtLike,
#mtPost .mtContainer .mtPost-foot li a.mtReblog,
#mtPost .mtContainer .mtPost-foot li a.mtComment,
#mtPost .mtContainer .mtPost-foot li a.mtPermalink{background:url('../images/mtTool.png') no-repeat;width:29px;height:30px;display:block;text-indent:-9999px;border:0;}
#mtPost .mtContainer .mtPost-foot li a.mtLike{background-position:0 0;}
#mtPost .mtContainer .mtPost-foot li a.mtReblog{background-position:0 -30px;}
#mtPost .mtContainer .mtPost-foot li a.mtComment{background-position:0 -60px;}
#mtPost .mtContainer .mtPost-foot li a.mtPermalink{background-position:0 -90px;}
#mtPost .mtContainer .mtPost-footWrap{border-top:1px dotted #777;border-bottom:1px dotted #777;padding:4px 0;margin:5px 10px;overflow:auto;}
#mtPost .mtPost-top,#mtPost .mtPost-bottom{display:block;height:6px;width:330px;}
#mtPost .mtPost-top{background:url('../images/post-top.png') no-repeat 0 0;}
#mtPost .mtPost-bottom{background:url('../images/post-bottom.png') no-repeat 0 0;padding-bottom:20px;}
#mtPost ul.mtBalloon{width:312px;padding:3px 8px;}
#mtPost li.mtBalloon-top{background:url('../images/mtBalloon-top.png') no-repeat 0 0;width:312px;height:12px;}
#mtPost li.mtBalloon-body{background:url('../images/mtBalloon-body.png') repeat-y 0 0;width:312px;color:#fff;}
#mtPost li.mtBalloon-bottom{background:url('../images/mtBalloon-bottom.png') no-repeat 0 0;width:312px;height:8px;}
#mtPost li.mtBalloon-body p{padding:0 10px 3px;}
#mtPost .mtLink.mtContainer h3{padding:0 10px;}
#mtPost .mtQuote h3.mtQuotePost{background:#fcfcfc;margin:0 10px;padding:10px;border-bottom:3px solid #ddd;}
#mtPost .mtQuote p.mtQuoteSource:before{content:'- ';}
#mtPost p.mtTag a{padding:2px 3px;border:1px solid #aaa !important;background:#eee;
	-moz-borde-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}
#mtPost p.mtTag a:hover{background:#666;border:1px solid #333 !important;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
	-o-box-shadow:0 0 3px #aaa;
	box-shadow:0 0 3px #aaa;
}

/* SIDEBAR */
#mtSidebar{margin-left:690px;background:#f8f8f8;}
#mtSidebar .mtAbout{background:#ebebeb;padding:10px 8px;}
#mtSidebar .mtAbout .mtAva-64{float:left;}
#mtSidebar .mtAbout .mtAva-64 img{padding:2px;border:1px solid #ababab;background:#fff;}
#mtSidebar .mtAbout .mtDesc{margin-left:80px;}
#mtSidebar .mtContent{padding:8px;color:#444;border-bottom:1px solid #ebebeb;}
#mtSidebar .mtContent ul{overflow:auto;}
#mtSidebar .mtContent li{display:inline;float:left;margin:0 8px 8px 0;}
#mtSidebar .mtContent li a.facebook,
#mtSidebar .mtContent li a.twitter,
#mtSidebar .mtContent li a.gplus,
#mtSidebar .mtContent li a.youtube,
#mtSidebar .mtContent li a.dailybooth,
#mtSidebar .mtContent li a.dribbble,
#mtSidebar .mtContent li a.forrst{background:url('../images/social.png') no-repeat;height:23px;display:block;text-indent:-9999px;}
#mtSidebar .mtContent li a.facebook{background-position:0 0;width:79px;}
#mtSidebar .mtContent li a.twitter{background-position:0 -23px;width:64px;}
#mtSidebar .mtContent li a.gplus{background-position:0 -46px;width:79px;}
#mtSidebar .mtContent li a.youtube{background-position:0 -69px;width:79px;}
#mtSidebar .mtContent li a.dailybooth{background-position:0 -92px;width:88px;}
#mtSidebar .mtContent li a.dribbble{background-position:0 -115px;width:76px;}
#mtSidebar .mtContent li a.forrst{background-position:0 -138px;width:65px;}
#mtSidebar .mtContent li.mtAva-24 a,#mtSidebar .mtContent .twitter-ava a img{display:block;background:#fff;padding:1px;border:1px solid #ccc;}
#mtSidebar .mtContent li.mtAva-24 a:hover,#mtSidebar .mtContent .twitter-ava a img:hover{border:1px solid #888;
	-moz-box-shadow:0 0  3px #aaa;
	-webkit-box-shadow:0 0  3px #aaa;
	-o-box-shadow:0 0  3px #aaa;
	box-shadow:0 0  3px #aaa;
}
#mtSidebar .mtContent .mtTwitter{padding:10px 5px;}
#mtSidebar .mtContent .twitter-ava{margin: 0 0 5px;}
#mtSidebar .mtContent .twitter-ava a img{height:24px;width:24px;display:inline-block;vertical-align:middle;margin:0 5px 0 0;}
#mtSidebar .mtContent .twitter-feed{background:#fff;padding:5px;border-bottom:2px solid #eee;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
}
#mtSidebar .mtContent .mtTwitter .small{border-top:1px dotted #ccc;display:block;margin-top:3px;}
#mtSidebar .mtContent .mtSearch{background:url('../images/search-box.png') no-repeat 0 0;width:170px;margin:0 auto;padding:0 auto;}
#mtSidebar .mtContent .mtSearch:hover{background:url('../images/search-box-h.png') no-repeat 0 0;}
#mtSidebar .mtContent .mtSearch input{width:140px;height:21px;bottom:0;border:0;margin-left:8px;background:0;line-height:45px;}

/* FOOTER */
#mtFooter{padding:9px 0;background:url('../images/dotted.png') repeat-x left top;}

/* TYPOGRAHY */
.small{font-size:9px;color:#aaa;text-align:center;}
#mtHeader h1 a{font:36px 'Ubuntu Condensed',sans-serif;color:#444;text-decoration:none;line-height:1.25em;text-transform:uppercase;letter-spacing:-1px;}
#mtHeader .mtMenuNav li a{font:14px/45px 'Yanone Kaffeesatz',sans-serif;color:#e8e8e8;text-decoration:none;text-transform:uppercase;}
#mtHeader .mtMenuNav li a:hover{color:#333;}
#mtPost{font:12px/18px 'Droid Sans',sans-serif;color:#444;}
#mtPost .mtContainer p a{border-bottom:1px solid #ffab18;color:#111;}
#mtPost .mtContainer blockquote{font:italic 14px/14px Georgia,serif;}
#mtPost .mtContainer code{font:12px;}
#mtPost .mtRegular.mtContainer h3{font:24px 'Yanone Kaffeesatz',sans-serif;color:#9a4b16;text-shadow:0 1px 0 #ffdfa6;line-height:42px;text-decoration:none;}
#mtPost .mtLink.mtContainer h3 a{font:24px 'Yanone Kaffeesatz',sans-serif;border-bottom:1px solid #ffab18;color:#111;}
#mtPost .mtQuote h3.mtQuotePost{font:24px/24px 'Yanone Kaffeesatz',sans-serif;}
#mtPost .mtQuote p.mtQuoteSource{font:italic 11px Georgia,serif;text-align:right;}
#mtPost .mtContainer a{text-decoration:none;}
#mtPost p.mtTag a{font-size:9px;color:#aaa;}
#mtPost p.mtTag a:hover{color:#fff;}
#mtPost li.mtBalloon-body p{line-height:14px;}
#mtPost li.mtBalloon-body a{color:#ffc018;border-bottom:0;}
#mtSidebar h3{font:14px/24px Georgia,serif;color:#444;}
#mtSidebar{font:11px Georgia,Serif;color:#777;}
#mtFooter{color:#999;text-align:right;font:11px 'Droid Sans',sans-serif;}
#mtSidebar .mtContent .mtTwitter a{color:#FFC018;}
#mtSidebar .mtContent .twitter-ava a{text-decoration:none;font-size:14px;}
#mtSidebar .mtContent .twitter-feed p{font-size:11px;line-height:18px;}
#mtSidebar .mtContent .mtTwitter .small{text-align:right;}
#mtSidebar .mtContent .mtSearch input{font:italic 10px Georgia,Serif;color:#aaa;line-height:1.25em;}
#mtFooter a{color:#777;text-decoration:none;}
#mtFooter a:hover{color:#555;}

/* TRANSITION */
#mtHeader .mtMenuNav li a,#mtPost a,#mtSidebar .mtSearch{
	-moz-transition:background .5s,color .5s;
	-webkit-transition:background .5s,color .5s;
	-o-transition:background .5s,color .5s;
	transition:background .5s,color .5s;
}